<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Comfort Proposal</title>
	<script src="https://apitemplateio.s3-ap-southeast-1.amazonaws.com/static/js/autofonts-bundle.js"></script>
	<style>
		body {
			font-family: 'Inter', sans-serif;
			font-size: 12pt;
			-webkit-font-smoothing: antialiased;
			background: white;
		}

		.center-text {
			text-align: center;
			font-size: 16px;
			font-weight: bold;
		}

		img {
			margin-bottom: 20px;
			max-width: 100%;
			max-height: 100vh;
		}

		table {
			border-collapse: collapse;
			width: 100%;
		}

		th,
		td {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 3px;
		}

		th {
			background-color: #ffffff;
		}
	</style>
</head>

<body>
	<div>
		<img src="https://apitemplateio-user.s3-ap-southeast-1.amazonaws.com/18329/25498/247021a6-d43b-4f50-82ad-d5d46c149d44.png" alt="Elephant Energy Logo" width="90" height="80">
		<p class="center-text" style="font-size: 20px; color: #8892e9;">Home Comfort Proposal</p>
		<div style="font-size: 12pt; display: flex; justify-content: space-between;">
			<div style="width: 50%;">
				<p><strong>Prepared For:</strong></p>
				<p>{{customerName}}</p>
				<p>{{customerAddress}}</p>
				<p>{{customerEmail}}</p>
				<p>{{customerPhone}}</p>
			</div>
			<div style="width: 50%;">
				<p><strong>Prepared By:</strong></p>
				<p>{{hca}}</p>
				<p>{{hcaEmail}}</p>
				<p>{{hcaPhone}}</p>
				<p><strong>Date: {{date}}</strong></p>
			</div>
		</div>

		<div style="margin-top: 50px;"></div>
		<img src="https://apitemplateio-user.s3-ap-southeast-1.amazonaws.com/18329/25498/a5158a03-f627-4626-bdaf-19d4c38f859d.png" alt="Elephant Scene">
		<div style="page-break-after: always;"></div>

		<div style="margin-top: 200px;"></div>
		<div style="font-size: 18pt; color: #8892e9; font-family: 'Inter', sans-serif;">
			The Elephant way is different
		</div>
		<img src="https://apitemplateio-user.s3-ap-southeast-1.amazonaws.com/18329/25498/517dbe7f-4166-47a8-aa3a-d09dba65a9fd.png" alt="Elephant Way Table">

		<div style="page-break-before: always;"></div>
		{% if coMap is true %}
		<div style="font-size: 18pt; color: #8892e9; font-family: 'Inter', sans-serif;">
			We're the largest electrification company in the Front Range, and have helped hundreds of customers electrify
		</div>
		<img src="https://apitemplateio-user.s3-ap-southeast-1.amazonaws.com/18329/25498/1360b225-a696-4bd4-91a2-c347fbcc44a9.png" alt="CO Map" style="max-width: 100%; max-height: 100vh;">
		{% endif %}

		{% if maMap is true %}
		<div style="font-size: 18pt; color: #8892e9; font-family: 'Inter', sans-serif;">
			We're the largest electrification company in the Front Range, and have helped hundreds of customers electrify
		</div>
		<img src="https://apitemplateio-user.s3-ap-southeast-1.amazonaws.com/18329/25498/5c6efbcb-6da9-4053-b0b6-0f9de830a60f.png" alt="MA Map" style="max-width: 100%; max-height: 100vh;">
		{% endif %}

		<div style="page-break-before: always;"></div>

		<div style="font-size: 18pt; color: #8892e9; font-family: 'Inter', sans-serif;">
			Why electrify?
		</div>
		<div style="margin-top: 30px">
			<img src="https://apitemplateio-user.s3-ap-southeast-1.amazonaws.com/18329/25498/b6679584-f661-4cc9-a675-35252fa71257.png" alt="Why Electrify" style="max-width: 100%; max-height: 100vh;">

			<div style="page-break-before: always;"></div>
			<div style="font-size: 16pt; color: #8892e9; font-family: 'Inter', sans-serif;">
				System Designs for Consideration
			</div>
			<p>*This pricing is valid for 14 days following the receipt of this proposal</p>
			<div>
				<table style="font-size:10pt;">
					<thead>
						<tr>
							<th>Option 1</th>
							<th>Equipment</th>
							<th>Cost</th>
						</tr>
					</thead>
					<tbody>
						{% for option in systemDesignOption1 %}
						<tr>
							<td>{{ option.label }}</td>
							<td>{{ option.detail }}</td>
							<td>${{ "{:,.2f}".format(option.price) }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			{% if systemDesignOption2 is defined %}
			<div style="page-break-before: always;"></div>
			<div style="font-size: 16pt; color: #8892e9; font-family: 'Inter', sans-serif;">
				System Designs for Consideration
			</div>
			<p>*This pricing is valid for 14 days following the receipt of this proposal</p>
			<table style="font-size:10pt;">
				<thead>
					<tr>
						<th>Option 2</th>
						<th>Equipment</th>
						<th>Cost</th>
					</tr>
				</thead>
				<tbody>
					{% for option in systemDesignOption2 %}
					<tr>
						<td>{{ option.label }}</td>
						<td>{{ option.detail }}</td>
						<td>${{ "{:,.2f}".format(option.price) }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endif %}

		{% if systemDesignOption3 is defined %}
		<div style="page-break-before: always;"></div>
		<div style="font-size: 16pt; color: #8892e9; font-family: 'Inter', sans-serif;">
			System Designs for Consideration
		</div>
		<p>*This pricing is valid for 14 days following the receipt of this proposal</p>
		<table style="font-size:10pt;">
			<thead>
				<tr>
					<th>Option 3</th>
					<th>Equipment</th>
					<th>Cost</th>
				</tr>
			</thead>
			<tbody>
				{% for option in systemDesignOption3 %}
				<tr>
					<td>{{ option.label }}</td>
					<td>{{ option.detail }}</td>
					<td>${{ "{:,.2f}".format(option.price) }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}

		<div style="page-break-before: always;"></div>
		<div style="margin-top: 60px;"></div>
		<div style="font-size: 16pt; color: #8892e9; font-family: 'Inter', sans-serif;">
			Project Cost Breakdown
		</div>
		<div style="margin-top: 20px;"></div>
		<div>
			<table style="font-size:10pt;">
				<thead>
					<tr>
						<th></th>
						{% if projectCostBreakdown[0]['0'] is defined %}
						<th>Option 1</th>
						{% endif %}
						{% if projectCostBreakdown[0]['1'] is defined %}
						<th>Option 2</th>
						{% endif %}
						{% if projectCostBreakdown[0]['2'] is defined %}
						<th>Option 3</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for option in projectCostBreakdown %}
					<tr>
						<td>{{ option.label }}</td>
						<td>${{ "{:,.2f}".format(option['0']) }}</td>
						{% if option['1'] is defined %}
						<td>${{ "{:,.2f}".format(option['1']) }}</td>
						{% endif %}
						{% if option['2'] is defined %}
						<td>${{ "{:,.2f}".format(option['2']) }}</td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>


		<style>
			.content-container {
				page-break-inside: avoid;
			}
		</style>
		{% if hddSlides is true and coldGraph is true %}
		<div style="page-break-before: always;"></div>
		<div style="font-size: 18pt; color: #8892e9; font-family: 'Inter', sans-serif;">Sizing a System for Your Unique Home</div>
		<div style="margin-top: 30px">
			<div style="display: flex;">
				<img src='https://apitemplateio-user.s3-ap-southeast-1.amazonaws.com/18329/25498/ec886a28-4ca2-4e6c-b4d2-345852bbcb4c.png' alt="Cold Graph" style="max-width: 70%; max-height: 100vh;">
				<div style="display: flex;">
					<table style="font-size: 10pt; font-family: 'Inter', sans-serif;">
						<thead>
							<tr>
								<th>Temperature</th>
								<th>Your Heating Need (k BTU/hr)</th>
								<th>Your HP (k BTU/hr)</th>
							</tr>
						</thead>
						<tbody>
							{% for option in hddInfo %}
							<tr>
								<td>{{ option.temperature }}</td>
								<td>
									{% if option.yourHeatingNeedKBtuHr is defined %}
									{{ option.yourHeatingNeedKBtuHr }}
									{% else %}
									{{ option.heating_need }}
									{% endif %}
								</td>
								<td>
									{% if option.yourHpKBtuHr is defined %}
									{{ option.yourHpKBtuHr }}
									{% else %}
									{{ option.hp_output }}
									{% endif %}
								</td>

							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<p>We design and size your system to ensure that during the coldest and the warmest days of the year, you can maintain comfortable temperatures inside.</p>
	</div>
	<div style="page-break-after: always;"></div>

	<style>
		.content-container {
			page-break-inside: avoid;
		}
	</style>
	<div class="content-container">
		<div style="font-size: 18pt; color: #8892e9; font-family: 'Inter', sans-serif;">Heat Pump: Cost and Carbon Implications</div>
	</div>
	<div style="display: flex;">
		<img src='https://apitemplateio-user.s3-ap-southeast-1.amazonaws.com/18329/25498/030f0d21-0cb0-4043-918f-0016d3744db3.png' alt="HP Annual Costs Graph" style="max-width: 75%; max-height: 100vh;">
		<div style="display: flex;">
			<table style="font-size: 10pt; font-family: 'Inter', sans-serif;">
				<thead>
					<tr>
						<th>Estimate 15 Year Savings of:</th>
						<th>Carbon Savings</th>
						<th>% Reduction</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>${{ "{:,.2f}".format(estmSavings) }}</td>
						<td>{{ carbonSavings }}</td>
						<td>{{ reduction * 100 }}%</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</div>
	{% endif %}

	<style>
		.content-container {
			page-break-inside: avoid;
		}
	</style>
	{% if hpwhSize is true %}
	<div style="page-break-before: always;"></div>
	<div class="content-container">
		<div style="font-size: 18pt; color: #8892e9; font-family: 'Inter', sans-serif;">
			Sizing Options: Heat Pump Water Heaters
		</div>
		<div>
			<img src="https://apitemplateio-user.s3-ap-southeast-1.amazonaws.com/18329/25498/1e2b0010-f328-4110-91b2-78b7647569c4.png" alt="HPWH Size Options" style="max-width: 100%; max-height: 100vh;">
		</div>
	</div>
	{% endif %}

	<style>
		.content-container {
			page-break-inside: avoid;
		}
	</style>
	{% if hpwhImplications is true %}
	<div style="page-break-before: always;"></div>
	<div class="content-container">
		<div style="font-size: 18pt; color: #8892e9; font-family: 'Inter', sans-serif;">
			Water Heater: Cost and Carbon Implications
		</div>
		<img src='https://apitemplateio-user.s3-ap-southeast-1.amazonaws.com/18329/25498/230bf7ed-832e-4ad6-89b0-0af8b8575d7d.png' alt="HPWH Annual Costs Graph" style="max-width: 80%; max-height: 100vh;">
		<table style="font-size: 10pt; font-family: 'Inter', sans-serif;">
			<thead>
				<tr>
					<th>Estimate 15 Year Savings of:</th>
					<th>Carbon Savings</th>
					<th>% Reduction</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>${{ "{:,.2f}".format(estmSavings2) }}</td>
					<td>{{ carbonSavings2 }}</td>
					<td>{{ reduction2 * 100 }}%</td>
				</tr>
			</tbody>
		</table>
	</div>
	{% endif %}


	<style>
		.content-container {
			page-break-inside: avoid;
		}
	</style>
	{% if panelUpgrades is true %}
	<div style="page-break-before: always;"></div>
	<div class="content-container">
		<div style="font-size: 18pt; color: #8892e9; font-family: 'Inter', sans-serif;">
			Your panel may need additional electrical capacity*
		</div>
		<p>Our goal is to complete your electrification project using your current panel, that said, ultimately an electrician is responsible for getting the panel up to code to pass inspection which may require <strong>one</strong> of the following measures and associated pricing changes:</p>
		<div>
			<img src="https://apitemplateio-user.s3-ap-southeast-1.amazonaws.com/18329/25498/d9ef3d5b-d1e5-4379-9f59-0be466d87911.png" alt="Panel Upgrades" style="max-width: 100%; max-height: 100vh;">
		</div>
		<p>*An Elephant Energy representative will discuss any necessary change orders before installation so you may approve the updated scope of work and pricing before proceeding.</p>
	</div>
	{% endif %}

	<style>
		.content-container {
			page-break-inside: avoid;
		}
	</style>
	<div style="page-break-before: always;"></div>
	<div style="font-size: 18pt; color: #8892e9; font-family: 'Inter', sans-serif;">
		<div class="content-container">
			Installation includes everything (really!) - and one year warranty to ensure your system is perfect
		</div>
		<div style="margin-top: 30px">
			<div>
				<img src="https://apitemplateio-user.s3-ap-southeast-1.amazonaws.com/18329/25498/2250cb2c-8bd1-4a8b-9db6-4d0446580a0d.png" alt="Install Includes" style="max-width: 100%; max-height: 100vh;">
			</div>
		</div>

		<style>
			.content-container {
				page-break-inside: avoid;
			}
		</style>
		{% if maintenanceSlide is true %}
		<div style="page-break-before: always;"></div>
		<div class="content-container">
			<div style="font-size: 18pt; color: #8892e9; font-family: 'Inter', sans-serif;">
				Protect your investment: Maintenance and extended labor warranty packages
			</div>
			<div style="margin-top: 20px">
				<div style="display: flex;">
					<div style="flex: 1;">
						<table style="font-size: 12pt; font-family: 'Inter', sans-serif;">
							<thead>
								<tr>
									<th>Package</th>
									<th>Frequency</th>
									<th>Labor Warranty</th>
									{% if maintenanceTable[0]['Option 1'] is defined %}
									<th>Option 1</th>
									{% endif %}
									{% if maintenanceTable[0]['Option 2'] is defined %}
									<th>Option 2</th>
									{% endif %}
									{% if maintenanceTable[0]['Option 3'] is defined %}
									<th>Option 3</th>
									{% endif %}
								</tr>
							</thead>
							<tbody>
								{% for option in maintenanceTable %}
								<tr>
									<td>{{ option.package }}</td>
									<td>{{ option.visits_yearly }}</td>
									<td>{{ option.warranty_yrs }}</td>
									<td>
										{% if option['Option 1'] is defined %}
										${{ "{:,.2f}".format(option['Option 1']) }}
										{% endif %}
									</td>
									<td>
										{% if option['Option 2'] is defined and option['Optiion 2'] %}
										${{ "{:,.2f}".format(option['Option 2']) }}
										{% endif %}
									</td>
									<td>
										{% if option['Option 3'] is defined and options['Option 3'] %}
										${{ "{:,.2f}".format(option['Option 3']) }}
										{% endif %}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div style="margin-right: 20px;"></div>
					<img src="https://apitemplateio-user.s3-ap-southeast-1.amazonaws.com/18329/25498/201778db-032a-4130-836c-03b0895ddce2.png" alt="Maintenance Image" style="max-width: 25%; max-height: 100vh;">
				</div>
				<div>
					<img src="https://apitemplateio-user.s3-ap-southeast-1.amazonaws.com/18329/25498/1ef48448-ac52-4e8e-b340-0624d7052bc1.png" alt="Maintenance Graphic" style="max-width: 100%; max-height: 100vh;">
				</div>
			</div>
			{% endif %}

			<div style="page-break-before: always;"></div>
			<div style="font-size: 18pt; color: #8892e9; font-family: 'Inter', sans-serif;">
				What to expect: Planning and installation
			</div>
			<div style="margin-top: 50px;"></div>
			<img src="https://apitemplateio-user.s3-ap-southeast-1.amazonaws.com/18329/25498/78ab1f9c-2e2a-4914-a1ca-32d1c747ffc0.png" alt="WTE Graphic" style="max-width: 100%; max-height: 100vh;">

			<style>
				.content-container {
					page-break-inside: avoid;
				}
			</style>
			<div style="page-break-before: always;"></div>
			<div class="content-container">
				<div style="font-size: 18pt; color: #8892e9; font-family: 'Inter', sans-serif;">
					Elephant Energy Invoicing and Payments
				</div>
				<div style="display: flex; font-size: 10pt;">
					<div style="flex: 2; padding-right: 20px;">
						<p><strong>Payment Schedule</strong></p>
						<p>We invoice in the following way:</p>
						<ul>
							<li> 25% down payment upon deal close (your signature!)</li>
							<li> 25% upon scheduling your project (getting a date on the calendar!)</li>
							<li> Remainder upon project completion</li>
						</ul>
						<p><strong>Payment Terms</strong></p>
						<p>All payments are due 15 days after receipt of invoice. Late payments shall accrue interest at rate within your contract.</p>
						<p><strong>Invoice Delivery</strong></p>
						<p>You will receive all invoices via email from Freshbooks. The email address associated with invoicing is <strong>lucas@elephantenergy.com</strong>.</p>
						<p><strong>Accepted Forms of Payment</strong></p>
						<p>We accept checks and direct payments via ACH. <strong>ACH is preferred.</strong> Direct payments are supported by Plaid (via Freshbooks), which will ask you to link your bank account. We can also accept credit cards with an additional processing fee. The fee varies based on the credit card but typically is 2.8-3.0%. Please inform us if you would like to use this option.</p>
						<p><strong>Checks should be made payable to:</strong></p>
						<p>Elephant Energy<br>
							1390 Yellow Pine Avenue<br>
							Boulder, CO 80304</p>
					</div>
					<div style="flex: 2;">
						<img src="https://apitemplateio-user.s3-ap-southeast-1.amazonaws.com/18329/25498/4f1a9218-4354-4ada-a4cb-3e308ba666dd.png" alt="Invoice Sample" style="max-width: 100%; max-height: 75vh;">
					</div>
				</div>

				<style>
					.content-container {
						page-break-inside: avoid;
					}
				</style>
				{% if renuLoan is true %}
				<div style="page-break-before: always;"></div>
				<div class="content-container">
					<div style="font-size: 18pt; color: #8892e9; font-family: 'Inter', sans-serif;">
						Financing your home upgrade - at zero money down
					</div>
					<div style="display: flex; font-size: 12pt;">
						<div style="flex: 1; padding-right: 20px;">
							<p>Elephant Energy offers financing through <strong>RENU, a statewide residential loan program</strong> that offers <strong>low-cost, long-term financing</strong> for climate-focused improvements.</p>
							<p><strong>Who is eligible:</strong> Property owners of existing homes in Colorado.</p>
							<ul>
								<li> Primary, secondary, or income properties</li>
								<li> Single family homes, townhomes, and condos</li>
								<li> Shared heating or cooling systems are <strong>not</strong> eligible</li>
							</ul>
							<p><strong>What can be financed:</strong></p>
							<ul>
								<li> HVAC Equipment (heat pump, heat pump water heater)</li>
								<li> EV Charging</li>
								<li> Insulation and Air Sealing</li>
								<li> Induction Stoves</li>
							</ul>
							<p><strong>How to participate:</strong> Learn more about the program at https://cocleanenergyfund.com/products/residential-products/#colorado-renu-loan. Applications can be submitted either with your Home Comfort Advisor or directly with the participating Credit Union!</p>
							<ul>
								<li> Westerra</li>
								<li> Elevations</li>
								<li> Clean Energy Credit Union</li>
							</ul>
						</div>
						<div style="flex: 3;">
							<img src="https://apitemplateio-user.s3-ap-southeast-1.amazonaws.com/18329/25498/c045b16f-51b9-462e-8bc8-76de80041613.png" alt="RENU Graphic" style="max-width: 100%; max-height: 500vh;">
						</div>
					</div>
				</div>
				{% endif %}

				<style>
					.content-container {
						page-break-inside: avoid;
					}
				</style>
				{%if heatLoan is true %}
				<div style="page-break-before: always;"></div>
				<div class="content-container">
					<div style="font-size: 18pt; color: #8892e9; font-family: 'Inter', sans-serif;">
						Financing your home upgrade - for free!
					</div>
					<div style="display: flex; font-size: 12pt;">
						<div style="flex: 1; padding-right: 20px;">
							<p>We offer financing through the <strong>HEAT Loan, a financing program by Mass Save.</strong> It is designed to help homeowners in Massachusetts make energy-efficient improvements to their homes. It offers <strong>zero-interest loans</strong> to cover the costs of eligible energy-saving upgrades.</p>
							<p><strong>Who is eligible:</strong> Homeowners and landlords with residential properties of one of the Mass Save sponsors, including Cape Light Compact, Eversource, National Grid, or Unitil.</p>
							<p><strong>What can be financed:</strong></p>
							<ul>
								<li> HVAC Equipment (heat pump, heat pump water heater)</li>
								<li> EV Charging</li>
								<li> Insulation and Air Sealing</li>
								<li> Induction Stoves</li>
							</ul>
							<p><strong>How to participate:</strong> Following your energy audit, complete the provided Intake Form. Then apply online at https://www.surveygizmo.com/s3/5171834/Heat-Loan-Applications. Once approved, you can choose a participating HEAT Loan lender to apply for the interest-free loan.</p>
							<p>Learn more at https://www.masssave.com/residential/programs-and-services/financing</p>
						</div>
						<div style="flex: 3;">
							<img src="https://apitemplateio-user.s3-ap-southeast-1.amazonaws.com/18329/25498/2c1624b8-4456-4478-8e4c-10f5f31f97b0.png" alt="HEAT Loan Image" style="max-width: 100%; max-height: 400vh;">
						</div>
					</div>
				</div>
				{% endif %}

				<style>
					.content-container {
						page-break-inside: avoid;
					}
				</style>
				{%if systemMockup1 is defined and systemMockup1 %}
				<div style="page-break-before: always;"></div>
				<div class="content-container">
					<div style="font-size: 18pt; color: #8892e9; font-family: 'Inter', sans-serif;">
						System Mockups
					</div>
					<img src="data:image/png;base64, {{systemMockup1}}" alt="System Mockup 1" style="max-width: 100%; height: auto;">
					{% endif %}
					{%if systemMockup2 is defined and systemMockup2 %}
					<img src="data:image/png;base64, {{systemMockup2}}" alt="System Mockup 2" style="max-width: 100%; height: auto;">
					{% endif %}
					{%if systemMockup3 is defined and systemMockup3 %}
					<img src="data:image/png;base64, {{systemMockup3}}" alt="System Mockup 3" style="max-width: 100%; height: auto;">
					{% endif %}


					<div style="page-break-before: always;"></div>

					<div style="font-size: 18pt; color: #8892e9; font-family: 'Inter', sans-serif;">
						Elephant Energy Service Agreement
					</div>
					<style>
						body {
							font-size: 10pt;
							font-family: 'Inter', sans-serif;
						}
					</style>

					<body>
						<p><strong>THIS SERVICES AGREEMENT</strong> (this "<strong>Agreement</strong>") is entered into on the date Customer signs this document (the "<strong>Effective Date</strong>") by and between Elephant Energy, Inc., a Delaware corporation ("<strong>Elephant Energy</strong>"), and {{customerName}} ("<strong>Customer</strong>").</p>

						<p>By signing below, the parties indicate they have read and agreed to the Elephant Energy Services Agreement, Standard Terms, and Proposal as of the Effective Date, contained and referenced in these slides.</p>

						<p>Elephant Energy, Inc. hereby proposes to furnish the specified equipment, materials, and labor for the sum of ${{amountDue}}. A downpayment of ${{depositAmount}} is due and payable alongside the execution of this contract.</p>

						<p><strong>Elephant Energy</strong> ____________________________________________________ Date___________________________</p>

						<p><strong>Homeowner Acceptance</strong>____________________________________________ Date___________________________</p>
						<div style="margin-bottom: 20px;"></div>
						<p><strong>NOW, THEREFORE</strong>, in consideration of the premises and mutual promises, covenants, and agreements set forth in this Agreement, and other good and valuable consideration, the receipt and sufficiency of which is hereby acknowledged, Elephant Energy and Customer agree as follows:</p>

						<ol>
							<li><ins>1. Services</ins>
								<ol type="a">
									<li><ins>a. Electrification Consultation</ins>. Elephant Energy has provided an initial consultation including a discussion with Customer on their electrification goals to determine what options are available and would best suit Customer’s needs. Elephant Energy has provided a list of recommended services to electrify and reduce climate impact at Customer’s property.</li>
									<li><ins>b.Statement of Work</ins>. Elephant Energy and Customer have agreed upon services to be performed at Customer’s property (the “Services”) and Elephant Energy has described those services in the proposal set forth below or enclosed with this Agreement (the “Proposal”). The Proposal describes the services to be performed, any exclusions from those services, the estimated project schedule, and the amount of compensation to be paid by Customer.</li>
								</ol>
							</li>
							<li><ins>2. Compensation: Payment</ins>. Customer shall pay Elephant Energy a fixed sum as set forth in the Proposal, subject to adjustments as provided in this Agreement.</li>
							<li><ins>3. Limited Warranty</ins>. Elephant Energy warrants that the work performed under this Agreement will be of a professional quality, conforming to generally accepted industry standards and practices. Unless provided otherwise in this Agreement, all work will be warranted for a period of one (1) year from the date of substantial completion of the work. Elephant Energy shall perform on-site inspections of the equipment at Customer’s request during the warranty period to ensure the equipment was installed appropriately. This warranty does not cover damage or disrepair resulting from Customer’s negligence or misuse of the equipment or alterations to the equipment made by someone other than an authorized representative of Elephant Energy.</li>
							<li><ins>4. Up Front Rebates</ins>. Any upfront rebates provided by Elephant Energy that are denied due to Customer not meeting requirements or program funding ending may be added to the Customer’s final invoice or collected after project completion.</li>
							<li><ins>5. Manufacturer Warranty</ins>. To the extent that manufacturer warranties cover replacement and repair of installed equipment, Elephant Energy shall use commercially reasonable efforts to enable Customer to submit, process and pursue warranty coverage from the manufacturer.</li>
						</ol>
						<div style="margin-bottom: 20px;"></div>
						<p>SECTIONS 3 AND 4 ARE IN LIEU OF ALL OTHER WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, AND OF ANY OTHER OBLIGATIONS OR LIABILITY ON ELEPHANT ENERGY’S PART. Under no circumstances will Elephant Energy be liable for incidental or consequential damages or for any repairs or alterations performed without Elephant Energy’s prior written approval. This warranty does not cover damage or defect caused by abuse, misuse, neglect, vandalism, natural disaster, or other cause beyond the control of Elephant Energy, including, but not limited to, structural changes made by Customer or third parties, normal wear and tear, or failure by Customer to provide reasonable and necessary maintenance. Any claim under this warranty must be made in writing and delivered to Elephant Energy within the warranty period. Upon receipt of a valid warranty claim, Elephant Energy shall, as its sole obligation and Customer’s sole remedy, either repair the defect or replace the defective work, at Elephant Energy’s option.</p>
						<div style="margin-bottom: 20px;"></div>
						<p><ins>6. Limitation of Liability</ins>. Notwithstanding anything to the contrary in this Agreement, and to the extent permitted by Colorado law including the Colorado Construction Defect Action Reform Act (CDARA), neither party shall be liable to the other party for any incidental, consequential, indirect, special, or punitive damages arising out of or related to this Agreement, whether in contract, tort (including negligence), or other legal theory, and regardless of whether the party was advised of the possibility of such damages. Elephant Energy’s total liability under this Agreement, whether in contract, tort (including negligence), or other legal theory, shall not exceed the total compensation paid to Elephant Energy under this Agreement.</p>

						<p><ins>7. Standard Terms</ins>. Customer represents and warrants to Elephant Energy that it has read and understood the Elephant Energy Standard Terms available here (the “Standard Terms”) which include terms governing dispute resolution, lien rights, and termination and agrees to abide by the terms and conditions of this Agreement and the Standard Terms. The Standard Terms are incorporated by reference as though fully set forth in this Agreement.</p>

						<p><ins>8. Entire Agreement</ins>. This Agreement, together with the Standard Terms and including all exhibits and other documents incorporated into this Agreement by reference, constitutes the entire agreement between the parties with respect to the subject matter of this Agreement and supersedes all prior negotiations, discussions, agreements, and understandings of any kind.</p>

						<p><ins>9. Counterparts: Electronic Signature</ins>. This Agreement may be executed in counterparts, each of which will be deemed an original and all of which together will constitute one and the same document. The parties agree that this Agreement may be signed electronically and that electronic signatures will have the same legal effect as original signatures.</p>
					</body>
